:root{
	--nav-backround: linear-gradient(to right,#032dfc, #a803fc);
	--page-line:black ;
}
body,html{
	margin: 0;
}
nav{
	margin: 0;
	position: sticky;
	top: 0;
	background-image: var(--nav-backround);
	box-shadow: 0 10px 10px rgba(0,0,0,0.4);
	z-index: 1;
}
button{
	all: unset;
}

nav *{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
span[space]{
	margin: 0 0 0 40px;
}
button[end]{
	margin-right: 10px;
	float: right;
	font-family: 'Varela Round', sans-serif;
	color: black;
	text-decoration: none;
	font-size: 20px;
}
button[end]:focus{
	pointer-events: none;
}
button[end]>div{
	background-color: red;
	padding: 10px;
	display: none;
	position: absolute;
	right: 10px;
}
button[end]:focus>div{
	display: block;
}
div[dropterms]{
	display: block;
	background-color: red;
	height: 150px;
	width: 200px;
	overflow-y: auto;
	pointer-events: auto;
}
span[looseheader="yes"]{
	position: relative;
	animation: looseHeader 0.5s forwards;
}
span[leavePage="ja"]::after{
	position: absolute;
	content: "";
	background-color: var(--page-line);
	padding: 0px;
	height: 3px;
	width: 100%;
	bottom: 0;
	left: 0;
	transform: scaleX(1);
	animation: leave 0.3s forwards;
}
span[leavePage="ja"]{
	padding-bottom: 15px;
	border: none;
}
h1{
	font-size: 5em;
	margin: 0;
	background-image: var(--nav-backround);
}
h1 span{
	font-family: 'Ubuntu', sans-serif;
	margin: 0 0 0 40px;
}
h2{
	font-family: 'Oxanium', sans-serif;
	font-size: 2.5em;
	margin: 1em 0 0 0;
}
h3{
	text-align: left;
	font-family: 'Oxanium', sans-serif;
	font-size: 2em;
	margin: .5em;
}
p{
	text-align: left;
}
#place, .link, [end]{
	background-image: linear-gradient(to right,#00ffc4, #03cefc);
	display: inline-block;
	padding: 15px 10px 15px 10px;
	position: relative;
	border-radius: 10px 10px 0 0;
}
.link:hover, [end]:hover{
	cursor: pointer;
}
#place:hover{
	cursor: context-menu;
}
#place{
	padding-bottom: 12px;
	border-bottom: 3.5px solid var(--page-line);
}
.link::before{
	position: absolute;
	content: "";
	background-color: var(--page-line);
	padding: 0px;
	height: 3px;
	width: 100%;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	transition: all 0.3s;
}
.link:hover:before{
	transform: scaleX(1);
}
.Txt{
	font-family: 'Varela Round', sans-serif;
	color: black;
	text-decoration: none;
	font-size: 20px;
}
#menu{
	display: none;
	padding-bottom: 10px;
	margin-left: 40px;
}
#content{
	text-align: center;
	font-size: 18px;
	margin: 15px 30px;
}
#dark{
	background-color: rgba(0,0,0,0.4);
	display: inline-block;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 0;
	animation: dark 1s forwards;
}
#open{
	animation: open 1s forwards;
}
.hello{
	animation : hello 0.2s forwards;
}
.bye{
	animation : bye 0.2s forwards;
}
@keyframes looseHeader{
	0%{left: 0}
	100%{left: 50px}
}
@keyframes dark{
	0%{background-color: rgba(0,0,0,0)}
	100%{background-color: rgba(0,0,0,0.4)}
}
@keyframes open{
	0%{background-color: rgba(0,0,0,0.4)}
	100%{background-color: rgba(0,0,0,0)}
}
@keyframes bye {
  0% {
    left: 0px;
  }
  100% {
    left: -200px;
  }
}
@keyframes hello {
  0% {
    left: -200px;
  }
  100% {
    left: 0px;
  }
}
@keyframes leave{
	0%{transform: scaleX(1);}
	100%{transform: scaleX(0);}
}
@media screen and (max-width: 600px){
	span[space]{
		margin: 0;
	}
	nav{
		position: fixed;
		left: -200px;
		height: 100%;
		width: 200px;
		margin: 0;
	}
	button[end]{
		margin:5px 0 0 0;
		float: none;
		width: 90%;
	}
	.link::before{
		height: 3px;
		width: 0;
		bottom: 0;
		left: 0;
		transform: none;
		transition: all 0.3s;
	}
	.link:hover:before{
		width: 100%;
	}
	.link,#place,[end]{
		display: block;
		margin: 0;
		border-radius: 0;
		position: relative;
	}
	#menu{
		display: flex;
		height: 15px;
		flex-direction: column;
		justify-content: space-between;
	}
	#line{
		display: block;
		background-color: black;
		height: 3px;
		width: 25px;
		border-radius: 2px;
	}
	#menu::before{
		content: "";
		background-color: black;
		height: 3px;
		width: 25px;
		border-radius: 2px;
		top: 0px;
	}
	#menu::after{
		content: "";
		background-color: black;
		height: 3px;
		width: 25px;
		border-radius: 2px;
		top: 0px;
	}
	#button-x{
		position: absolute;
		cursor: pointer;
		width: 4px;
		height: 4px;
		padding: 15px;
		top: 0;
		right: 0;
		z-index: 1;
	}
	#button-x::before{
		content: "";
		position: absolute;
		right: 4px;
		background-color: black;
		height: 3px;
		width: 25px;
		border-radius: 2px;
		transform: rotate(-45deg);
	}
	#button-x::after{
		content: "";
		position: absolute;
		right: 4px;
		background-color: black;
		height: 3px;
		width: 25px;
		border-radius: 2px;
		transform: rotate(45deg);
	}
	@keyframes leave{
		0%{width: 100%;}
		100%{width: 0%;}
	}
}
