.contentImg{
	position: static;
	object-fit: cover;
	width: 8em;
	height: 8em;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
figcaption{
	font-family: "Nunito", sans-serif;
	font-size: smaller;
	display: flex;
	justify-content: center;
}