#end{
	float: right;
}
#end:focus{
	pointer-events: none;
}
#end:focus>.dropterms{
	display: block;
}
.dropterms{
	display: none;
	position: absolute;
	background-color: red;
	height: 150px;
	width: 200px;
	right: 10px;
	pointer-events: auto;
	border-radius: .5em;
}
@media screen and (max-width:600px) {
    #end{
        margin:5px 0 0 0;
        float: none;
    }
}