#hambutton{
	display: none;
	background-image: var(--nav-backround);
	padding: .25em 0;
}

@media screen and (max-width: 600px){
	#hambutton{
		display: block;
	}
    #menu{
		display: flex;
		margin-left: 40px;
		padding: 4px;
		height: 20px;
		flex-direction: column;
		justify-content: space-between;
	}
	#line{
		background-color: black;
		height: 3px;
		width: 25px;
		border-radius: 2px;
	}
	#menu::before{
		content: "";
		background-color: black;
		height: 3px;
		width: 25px;
		border-radius: 2px;
	}
	#menu::after{
		content: "";
		background-color: black;
		height: 3px;
		width: 25px;
		border-radius: 2px;
	}
}