.space{
	margin: 0 0 0 40px;
}
#place{
	cursor: context-menu;
}
#place::before, .link::before{
	position: absolute;
	content: "";
	background-color: var(--page-line);
	padding: 0px;
	height: 3px;
	width: 100%;
	bottom: 0;
}
.link::before{
	position: absolute;
	content: "";
	background-color: var(--page-line);
	padding: 0px;
	height: 3px;
	width: 100%;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	transition: all 0.3s;
}
#place::before{transform: scaleX(1);}
.link:hover:before{
	transform: scaleX(1);
}
