#contactForm{
    border-radius: .5rem;
    border:none;
    background-color: #00eaff;
    height: 300px;
    width: 400px;
}
#contactForm::backdrop{
    background:none;
    backdrop-filter: blur(5px);
    transition: backdrop-filter 1s;
}