#place{
	cursor: context-menu;
}
.link::before{
	position: absolute;
	content: "";
	background-color: var(--page-line);
	height: 3px;
	width: 100%;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	transition: all 0.3s;
}
#place::before{transform: scaleX(1);}

.link, #end{
	padding: 15px 10px 15px 10px;
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
	color: black;
	font-size: 20px;
	background-image: var(--nav-button-color);
	position: relative;
	margin: 0 2px;
	border-radius: 10px 10px 0 0;
}

@media screen and (max-width: 600px) {
	.link, #end{
		margin: 0;
		border-radius: 0;
	}
	#end{margin-top: 8px;}
    .link::before{
		width: 0;
		transform: none;
	}
	#place::before{width: 100%;}
}