:root{
	--nav-backround: linear-gradient(to right,#032dfc, #a803fc);
	--page-line:black ;
	--nav-button-color: linear-gradient(to right,#00ffc4, #03cefc);
}
body,html{
	margin: 0;
}
button{
	all: unset;
}
#content{
	overflow-y: hidden;
	font-size: 18px;
}

/*Page Basic Styles*/
#pageContainer{
	width: 1vw;
}
h2{
	background: var(--nav-backround);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Oxanium', sans-serif;
	font-size: 3.5rem;
	margin: .5rem 0 0 0;
}
h3{
	text-align: left;
	font-family: 'Oxanium', sans-serif;
	font-size: 2em;
	margin: .5em;
}
p{
	text-align: left;
	font-family: 'Varela Round', sans-serif;
}