#root{
	--nav-backround: linear-gradient(to right,#032dfc, #a803fc);
	--page-line:black ;
	--nav-button-color: linear-gradient(to right,#00ffc4, #03cefc);
}
body,html{
	margin: 0;
}
button{
	all: unset;
}
button:focus-visible{
	outline: -webkit-focus-ring-color auto 1px;
}
a{
	--aTagColor:#00d9ff;
	text-decoration: none;
	position: relative;
	color: var(--aTagColor);
}
a::before{
	position: absolute;
	content: "";
	background-color: var(--aTagColor);
	height: 3px;
	width: 0;
	bottom: 0;
	left: 0;
	transition: all 0.3s;
}
a:hover:before{
	width: 100%;
	transform: scaleX(.5);
}

figure{
    margin: 0;
}

.button-x{
	border-radius: .5em;
	display: flex;
	position: absolute;
	cursor: pointer;
	width: 2em;
	height: 2em;
	top: 0;
	right: 0;
	z-index: 1;
	justify-content: center;
	align-items: center;
}
.button-x::before{
	content: "";
	background-color: black;
	height: 3px;
	width: 25px;
	border-radius: 2px;
	transform: rotate(-45deg);
}
.button-x::after{
	content: "";
	position: absolute;
	background-color: black;
	height: 3px;
	width: 25px;
	border-radius: 2px;
	transform: rotate(45deg);
}