nav{
	padding: 0 10px;
	background-image: var(--nav-backround);
	box-shadow: 0 5px 5px rgba(0,0,0,0.4);
}

#nav-x{display: none;}
#end{float: right;}
.link,#end{user-select: none;}

@media screen and (max-width: 600px){
	/*NAVBUTTON*/
	#end{
        margin-top: 5px;
        float: none;
    }
	.link,#end{
		box-sizing: border-box;
		margin-left: 0;
		width: 100%;
		border-radius: 0;
		position: relative;
	}

	/*NAV TOGGLE ANIMATION*/
	nav{
		position: fixed;
		left: -200px;
		top: 0;
		bottom: 0;
		width: 200px;
		padding: 0;
		z-index: 1;
		transition: left 0.2s ease;
	}
	.navVis{left:0;}
	#nav-x{display: flex;}
}