/*section 1*/
.startButton{
	background-color: #195aff;
	border-bottom: .125em solid #000a7d;
	border-radius: .5rem;
	padding: .25em;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
.startButton:active{
	margin-top: .125em;
	border-bottom: 0px solid transparent;
}

.lineup, .linkLineup{
	display: flex;
	align-items: center;
}
@media screen and (max-width: 700px)
{.lineup{flex-direction: column;}}

/*section 2*/
.logo{
	filter: brightness(0);
	height: 20vw;
	max-height: 6em;
	width: auto;
}

.linkLineup>a{
	transform: scale(1);
	transition: transform .3s;
}
.linkLineup>a::before{background-color: black;}
.linkLineup>a:hover{transform: scale(1.2);}

.logo.reveal{
	filter: blur(.25em) brightness(0);
	transform: translateX(-5em);
	transition: all .5s calc(80ms*var(--order));
}
.logo.show{
	filter: blur(0) brightness(0);
	transform: translateX(0);
}